$monospace-font: Menlo, Monaco, Consolas, "Courier New", monospace;
$line-space: 22px;

.markdown-body {
  a,
  abbr,
  acronym,
  address,
  applet,
  article,
  aside,
  audio,
  b,
  big,
  blockquote,
  body,
  canvas,
  caption,
  center,
  cite,
  code,
  dd,
  del,
  details,
  dfn,
  div,
  dl,
  dt,
  em,
  embed,
  fieldset,
  figcaption,
  figure,
  footer,
  form,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  header,
  hgroup,
  html,
  i,
  iframe,
  img,
  ins,
  kbd,
  label,
  legend,
  li,
  mark,
  menu,
  nav,
  object,
  ol,
  output,
  p,
  pre,
  q,
  ruby,
  s,
  samp,
  section,
  small,
  span,
  strike,
  strong,
  sub,
  summary,
  sup,
  table,
  tbody,
  td,
  tfoot,
  th,
  thead,
  time,
  tr,
  tt,
  u,
  ul,
  var,
  video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
  }
  @apply container mx-auto overflow-hidden break-words px-4 text-on-background md:w-[128ch] md:px-0;
  em {
    @apply italic;
  }
  strong {
    @apply font-semibold;
  }
  h1,
  h2,
  h3 {
    @apply my-20 lg:my-14;
  }
  h4,
  h5,
  h6 {
    @apply my-20 lg:my-9;
  }

  h1 {
    @apply display-large md:display-xl lg:display-xxl;
  }
  h2 {
    @apply display-small md:display-medium lg:display-large;
  }
  h3 {
    @apply headline-small md:headline-medium lg:headline-large;
  }
  h4,
  h5,
  h6 {
    @apply headline-small;
  }

  p {
    @apply body-medium my-2 md:body-large lg:title-large md:my-4 lg:my-6;
  }

  img {
    @apply h-96 rounded-2xl;
  }

  hr {
    border-top: 1px solid #ddd;
    border-bottom: none;
    border-left: none;
    border-right: none;
    margin-top: 32px;
    margin-bottom: 32px;
  }

  code {
    word-break: break-word;
    overflow-x: auto;
    padding: 0.065em 0.4em;
    @apply rounded-md bg-primary-container text-on-primary-container;
  }

  pre {
    font-family: $monospace-font;
    overflow: auto;
    position: relative;
    line-height: 1.75;
    > code {
      padding: 15px 12px;
      margin: 0;
      word-break: normal;
      display: block;
      overflow-x: auto;
      @apply bg-on-primary-container text-primary;
    }
  }

  a {
    @apply text-primary underline decoration-primary decoration-2;
    &:hover,
    &:active {
      @apply text-on-primary-container;
    }
  }

  table {
    @apply w-full border-collapse border-spacing-0 overflow-x-auto rounded-3xl border border-surface-variant;
  }
  thead {
    @apply border border-surface-variant text-on-background;
    tr {
      th {
        @apply bg-surface-container-low;
      }
    }
  }
  th,
  td {
    @apply border border-surface-variant;
    padding: 12px 7px;
    line-height: 24px;
  }
  td {
    min-width: 120px;
  }

  blockquote {
    padding: 1px 23px;
    margin: 22px 0;
    border-left: 4px solid #cbcbcb;
    @apply border-l-secondary-container bg-on-secondary text-secondary;
    &::after {
      display: block;
      content: "";
    }
    & > p {
      margin: 10px 0;
    }
  }

  ol,
  ul {
    max-width: 768px;
    @apply body-medium mt-2 md:body-large lg:title-large;
    li {
      @apply relative ml-[22px] mb-4;
      list-style-type: none;
      & .task-list-item {
        list-style: none;
        ul,
        ol {
          @apply relative mb-4;
        }
      }
    }
    ul,
    ol {
      margin-top: 3px;
    }
  }

  ul {
    li {
      &:before {
        @apply absolute top-2 -left-4 h-2 w-2 rounded-full bg-on-background text-center content-[''];
      }
    }
  }

  ol {
    @apply list-none pl-0;
    counter-reset: item;
    li {
      @apply ml-9;
      counter-increment: item;
      &:before {
        @apply label-large absolute float-left -mt-1 mr-[10px] -ml-9 block h-8 w-6 rounded-xl bg-inverse-surface text-center leading-8 text-inverse-on-surface content-[counter(item)];
      }
    }
  }
  ol[start] {
    counter-reset: listitem;
  }

  .contains-task-list {
    padding-left: 0;
  }

  .task-list-item {
    list-style: none;
  }
}
